body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

textarea {
    width: 60%;
    height: 120px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#output {
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
}